<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DOMAServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.doma.nydalen.idrett.no/webservice.php"
                binding="basicHttpBinding" bindingConfiguration="DOMAServiceBinding"
                contract="Doma.DOMAServicePortType" name="DOMAServicePort" />
        </client>
    </system.serviceModel>
</configuration>
