<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DomaMove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DomaMove.Properties.Settings>
            <setting name="SourceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SourcePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetUser" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPassword" serializeAs="String">
                <value />
            </setting>
        </DomaMove.Properties.Settings>
    </userSettings>
  <!--<appSettings>
    <add key="skiptracking" value="false" />
  </appSettings>-->
</configuration>